In [2]:
%%bash

gcloud sql instances patch ksalama-sql-demo \
--authorized-networks $(wget -qO - http://ipecho.net/plain)

No backup False

When adding a new IP address to authorized networks, make sure to also
 include any IP addresses that have already been authorized.
Otherwise, they will be overwritten and de-authorized.

Do you want to continue (Y/n)?
The following message will be used for the patch API method.
{"project": "ksalama-gcp-playground", "name": "ksalama-sql-demo", "settings": {"ipConfiguration": {"authorizedNetworks": [{"value": "35.195.218.103"}]}}}
Patching Cloud SQL instance...
.....done.
Updated [https://www.googleapis.com/sql/v1beta4/projects/ksalama-gcp-playground/instances/ksalama-sql-demo].

In [ ]:
%%bash

cd data

mysqlimport --local --host=23.251.142.177 --user=root --password=root \
--ignore-lines=1 --fields-terminated-by=',' \
bts *.csv

In [1]:
%%bash

pip install -U mysql-connector-python-rf
pip install -U sqlalchemy

Collecting mysql-connector-python-rf
  Downloading mysql-connector-python-rf-2.2.2.tar.gz (11.9MB)
Building wheels for collected packages: mysql-connector-python-rf
  Running setup.py bdist_wheel for mysql-connector-python-rf: started
  Running setup.py bdist_wheel for mysql-connector-python-rf: finished with status 'done'
  Stored in directory: /root/.cache/pip/wheels/bb/53/e4/dced82f8a15f96a8afbe626ebb2939d2901b29e610a97fc1ba
Successfully built mysql-connector-python-rf
Installing collected packages: mysql-connector-python-rf
Successfully installed mysql-connector-python-rf-2.2.2
Collecting sqlalchemy
  Downloading SQLAlchemy-1.1.13.tar.gz (5.2MB)
Building wheels for collected packages: sqlalchemy
  Running setup.py bdist_wheel for sqlalchemy: started
  Running setup.py bdist_wheel for sqlalchemy: finished with status 'done'
  Stored in directory: /root/.cache/pip/wheels/f0/50/ca/3cb6e78527eb05e180d19632343ee14d2e5c164da2e61fbd2d
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.1.13

In [5]:
import pandas as pd
import mysql.connector
import os

In [6]:
def create_connection():
    connection = mysql.connector.connect(user='root', password='root',
                                    host='23.251.142.177',
                                    database='bts')
    return connection

In [ ]:
# def truncate_flights():

#     query = "TRUNCATE flights;"

#     connection = create_connection()
#     cursor = connection.cursor()
#     cursor.execute(query)
    
# truncate_flights()

In [ ]:
# engine = create_engine('mysql+mysqlconnector://root:root@23.251.142.177:3306/bts', echo=False)
# connection=engine.raw_connection()

# def populate_flights():
#     data_directory = "data"
#     connection = create_connection()
#     for data_file in os.listdir(data_directory):
#         data = pd.read_csv(os.path.join(data_directory,data_file))
#         data.to_sql(name='flights', con=connection, if_exists='append', index=False)
    
# populate_flights()

In [7]:
query = "\
SELECT * \
FROM flights \
LIMIT 100000; \
"

In [8]:
connection = create_connection()

flights_df = pd.read_sql_query(query,connection)
flights_df.head(5)

,FL_DATE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_AIRPORT_ID,...,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,DISTANCE
0,2015-01-01,B6,20409,B6,1233,13204,1320402,31454,MCO,14843,...,1733,2055,5.0,2110,2100,-10.0,0.0,,0.0,1189.0
1,2015-01-01,B6,20409,B6,1234,14843,1484304,34819,SJU,13204,...,2151,2337,15.0,2351,2352,1.0,0.0,,0.0,1189.0
2,2015-01-01,B6,20409,B6,1236,14843,1484304,34819,SJU,15024,...,747,804,2.0,822,806,-16.0,0.0,,0.0,68.0
3,2015-01-01,B6,20409,B6,1237,10721,1072102,30721,BOS,11433,...,1616,1813,5.0,1818,1818,0.0,0.0,,0.0,632.0
4,2015-01-01,B6,20409,B6,1251,12197,1219702,31703,HPN,14635,...,735,1026,7.0,1049,1033,-16.0,0.0,,0.0,1102.0

In [9]:
flights_df.describe()

,FL_NUM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,DIVERTED,DISTANCE
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,2270.341830,1335.341210,1323.536890,19.856740,16.584000,1343.759460,1441.972560,7.913340,1506.400890,1445.096700,18.267180,0.024750,0.002250,820.617440
std,1826.181861,477.811775,534.705909,45.467806,10.845889,538.112545,575.734895,7.624808,497.557642,581.260295,48.409263,0.155363,0.047381,605.883854
min,1.000000,5.000000,0.000000,-39.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-65.000000,0.000000,0.000000,31.000000
25%,767.000000,930.000000,917.000000,-3.000000,11.000000,932.000000,1044.000000,4.000000,1120.000000,1048.000000,-7.000000,0.000000,0.000000,373.000000
50%,1711.000000,1330.000000,1334.000000,2.000000,14.000000,1347.000000,1506.000000,6.000000,1526.000000,1509.000000,4.000000,0.000000,0.000000,651.000000
75%,3472.000000,1730.000000,1746.000000,25.000000,19.000000,1759.000000,1914.000000,9.000000,1920.000000,1919.000000,27.000000,0.000000,0.000000,1062.000000
max,7438.000000,2359.000000,2400.000000,1380.000000,176.000000,2400.000000,2400.000000,179.000000,2359.000000,2400.000000,1384.000000,1.000000,1.000000,4983.000000